################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Coderbyte/obj/Debug
/Coderbyte/obj/Release
/Coderbyte/bin/Debug
